*.pyc
dist
build
*.egg-info
.coverage
.cproject
.project
.pydevproject
.idea/
nlp/models/reldi_tagger/sl.lexicon.guesser
nlp/models/reldi_tagger/hr.lexicon.guesser
nlp/models/reldi_tagger/sr.lexicon.guesser
nlp/models/language_variety/*
